footer
	.container
		section#footerLinks
			.row
				.col.order-0
					h5 Куда поехать
					nav
						a(href='tour-catalog.html') Бейдайхэ
						a(href='tour-catalog.html') Бэйго
						a(href='tour-catalog.html') Вьетнам
						a(href='tour-catalog.html') Индия
						a(href='tour-catalog.html') Германия
						a(href='tour-catalog.html') Испания
						a(href='tour-catalog.html') Австрия
						a(href='tour-catalog.html') Маврикий
				.col.links-visas.order-7.order-md-3
					h5 Визы
					nav
						a(href='visa-info-china.html') Австралия
						a(href='visa-info-china.html') Австрия
						a(href='visa-info-china.html') Германия
						a(href='visa-info-china.html') Греция
						a(href='visa-info-china.html') Испания
						a(href='visa-info-china.html') Италия
						a(href='visa-info-china.html') Китай
						a(href='visa-info-china.html') Финляндия
						a(href='visa-info-china.html') Чехия
						a(href='visa-info-china.html') Япония
						a(href='visa-info-china.html') Франция
						a(href='visa-info-china.html') Сингапур
						a(href='visa-info-china.html') США
						a(href='visa-info-china.html') Болгария
				.col.order-4
					h5 Оплата туров
					nav
						a(href='404.html') Онлайн оплата картой
						a(href='404.html') Онлайн оплата картой
						a(href='404.html') Рассрочка от ОТП Банк
						a(href='404.html') Рассрочка от Почта Банк
						a(href='404.html') Рассрочка от Home Credit
						a(href='404.html') Способы оплаты
				.col.order-5
					h5 Сервисы
					nav
						a(href='air-tickets.html') Авиабилеты
						a(href='hotels.html') Отели
						a(href='404.html') Аренда автомобилей
						a(href='404.html') Апартаменты
				.col.order-6
					h5 Ещё
					nav
						a(href='trains-china.html') Расписание поездов Китая
						a(href='404.html') Полезные советы
						a(href='404.html') Запрет на выезд
						a(href='404.html') Дневник туриста
						a(href='404.html') Будь в тренде
						a(href='404.html') Вопрос/ответ
						a(href='about.html') Контакты
						a(href='404.html') Попутчики
						a(href='hotels-filter.html') База отелей
						a(href='404.html') Голосования
						a(href='404.html') Фотоконкурсы
				.col.insurance.order-1.order-lg-7
					h5 Страхование
					nav
						a(href='insurance.html') О страховании ВСК
						a(href='404.html') Расcчитать стоимость	

		section#footerBottom
			.row
				.col
					.copyright © 2018 ООО &laquo;Туристическое агентство &bdquo;Компас&ldquo;&raquo;
				.col
					#exchangeRates.d-flex.justify-content-end.flex-column.flex-md-row
						.date 27.10.18
						.usd USD
							span.arrow.increase 65.80
						.eur EUR
							span.arrow.decrease 75.08
					
