// Required meta tags
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&amp;subset=cyrillic')
link(rel='stylesheet', href='assets/css/tourvisor.css')
link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css')
link(rel='stylesheet', href='assets/css/styles.css')
title Компас

link(rel="apple-touch-icon", sizes="180x180", href="assets/icons/apple-touch-icon.png")
link(rel="icon", type="image/png", sizes="32x32", href="assets/icons/favicon-32x32.png")
link(rel="icon", type="image/png", sizes="16x16", href="assets/icons/favicon-16x16.png")
link(rel="manifest", href="assets/icons/site.webmanifest")
link(rel="mask-icon", href="assets/icons/safari-pinned-tab.svg", color="#5bbad5")
link(rel="shortcut icon", href="assets/icons/favicon.ico")
meta(name="msapplication-TileColor", content="#2b5797")
meta(name="msapplication-config", content="assets/icons/browserconfig.xml")
meta(name="theme-color", content="#ffffff")
meta(name='format-detection', content='telephone=no')

script.
	let cityToAddressMap = !{JSON.stringify(data.cityToAddressMap)}