// Required meta tags
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&amp;subset=cyrillic')
link(rel='stylesheet', href='assets/css/styles.css')
title Компас

script.
	let cityToAddressMap = !{JSON.stringify(data.cityToAddressMap)}