// Tourvisor location popup
.tv_drop_panel.TVLocationPanel.TVHide
	.tv_content
		.TVTheme2Button x
		.TVLabel Выберите город вылета:
		.TVListBox.TVSibling(style='width: 123px;')
			.TVListBoxItem.TVItemSelected
				div Россия
			.TVListBoxItem
				div Беларусь
			.TVListBoxItem
				div Казахстан
			.TVListBoxItem
				div Другие страны
		.TVLayerSwitch
			.TVTableListBox
				.TVCol
					.TVTableBoxItem
						.TVLitera  
						.TVListBox
							.TVListBoxItem
								div Без перелета
					.TVTableBoxItem
						.TVLitera А
						.TVListBox
							.TVListBoxItem
								div Абакан
							.TVListBoxItem
								div Анапа
							.TVListBoxItem
								div Архангельск
							.TVListBoxItem
								div Астрахань
					.TVTableBoxItem
						.TVLitera Б
						.TVListBox
							.TVListBoxItem
								div Барнаул
							.TVListBoxItem
								div Белгород
							.TVListBoxItem
								div Благовещенск
							.TVListBoxItem
								div Брянск
					.TVTableBoxItem
						.TVLitera В
						.TVListBox
							.TVListBoxItem
								div Владивосток
							.TVListBoxItem
								div Владикавказ
							.TVListBoxItem
								div Волгоград
							.TVListBoxItem
								div Воронеж
					.TVTableBoxItem
						.TVLitera Г
						.TVListBox
							.TVListBoxItem
								div Грозный
				.TVCol
					.TVTableBoxItem
						.TVLitera Е
						.TVListBox
							.TVListBoxItem
								div Екатеринбург
					.TVTableBoxItem
						.TVLitera И
						.TVListBox
							.TVListBoxItem
								div Ижевск
							.TVListBoxItem
								div Иркутск
					.TVTableBoxItem
						.TVLitera К
						.TVListBox
							.TVListBoxItem
								div Казань
							.TVListBoxItem
								div Калининград
							.TVListBoxItem
								div Кемерово
							.TVListBoxItem
								div Краснодар
							.TVListBoxItem
								div Красноярск
					.TVTableBoxItem
						.TVLitera М
						.TVListBox
							.TVListBoxItem
								div Магнитогорск
							.TVListBoxItem
								div Махачкала
							.TVListBoxItem
								div Мин.Воды
							.TVListBoxItem
								div Москва
							.TVListBoxItem
								div Мурманск
				.TVCol
					.TVTableBoxItem
						.TVLitera Н
						.TVListBox
							.TVListBoxItem
								div Н.Новгород
							.TVListBoxItem
								div Нижневартовск
							.TVListBoxItem
								div Нижнекамск
							.TVListBoxItem
								div Новокузнецк
							.TVListBoxItem
								div Новосибирск
							.TVListBoxItem
								div Новый Уренгой
					.TVTableBoxItem
						.TVLitera О
						.TVListBox
							.TVListBoxItem
								div Омск
							.TVListBoxItem
								div Оренбург
					.TVTableBoxItem
						.TVLitera П
						.TVListBox
							.TVListBoxItem
								div П.Камчатский
							.TVListBoxItem
								div Пермь
					.TVTableBoxItem
						.TVLitera Р
						.TVListBox
							.TVListBoxItem
								div Ростов-на-Дону
				.TVCol
					.TVTableBoxItem
						.TVLitera С
						.TVListBox
							.TVListBoxItem
								div С.Петербург
							.TVListBoxItem
								div Самара
							.TVListBoxItem
								div Саратов
							.TVListBoxItem
								div Симферополь
							.TVListBoxItem
								div Сочи
							.TVListBoxItem
								div Ставрополь
							.TVListBoxItem
								div Сургут
							.TVListBoxItem
								div Сыктывкар
					.TVTableBoxItem
						.TVLitera Т
						.TVListBox
							.TVListBoxItem
								div Томск
							.TVListBoxItem
								div Тюмень
					.TVTableBoxItem
						.TVLitera У
						.TVListBox
							.TVListBoxItem
								div Улан-Удэ
							.TVListBoxItem
								div Ульяновск
							.TVListBoxItem
								div Уфа
					.TVTableBoxItem
						.TVLitera Х
						.TVListBox
							.TVListBoxItem
								div Хабаровск
							.TVListBoxItem
								div Ханты-Мансийск
				.TVCol
					.TVTableBoxItem
						.TVLitera Ч
						.TVListBox
							.TVListBoxItem
								div Чебоксары
							.TVListBoxItem
								div Челябинск
							.TVListBoxItem
								div Чита
					.TVTableBoxItem
						.TVLitera Ю
						.TVListBox
							.TVListBoxItem
								div Ю.Сахалинск
					.TVTableBoxItem
						.TVLitera Я
						.TVListBox
							.TVListBoxItem
								div Якутск
			.TVTableListBox.TVHide
				.TVCol
					.TVTableBoxItem
						.TVLitera Б
						.TVListBox
							.TVListBoxItem
								div Брест
					.TVTableBoxItem
						.TVLitera В
						.TVListBox
							.TVListBoxItem
								div Витебск
					.TVTableBoxItem
						.TVLitera Г
						.TVListBox
							.TVListBoxItem
								div Гомель
							.TVListBoxItem
								div Гродно
					.TVTableBoxItem
						.TVLitera М
						.TVListBox
							.TVListBoxItem
								div Минск
							.TVListBoxItem
								div Могилев
			.TVTableListBox.TVHide
				.TVCol
					.TVTableBoxItem
						.TVLitera А
						.TVListBox
							.TVListBoxItem
								div Актау
							.TVListBoxItem
								div Актобе
							.TVListBoxItem
								div Алматы
							.TVListBoxItem
								div Астана
							.TVListBoxItem
								div Атырау
					.TVTableBoxItem
						.TVLitera К
						.TVListBox
							.TVListBoxItem
								div Караганды
							.TVListBoxItem
								div Костанай
							.TVListBoxItem
								div Кызылорда
					.TVTableBoxItem
						.TVLitera Т
						.TVListBox
							.TVListBoxItem
								div Тараз
					.TVTableBoxItem
						.TVLitera У
						.TVListBox
							.TVListBoxItem
								div Уральск
							.TVListBoxItem
								div Усть-Каменогорск
					.TVTableBoxItem
						.TVLitera Ш
						.TVListBox
							.TVListBoxItem
								div Шымкент
			.TVTableListBox.TVHide
				.TVCol
					.TVTableBoxItem
						.TVLitera Б
						.TVListBox
							.TVListBoxItem
								div Бишкек
					.TVTableBoxItem
						.TVLitera В
						.TVListBox
							.TVListBoxItem
								div Вильнюс
							.TVListBoxItem
								div Винница
					.TVTableBoxItem
						.TVLitera Д
						.TVListBox
							.TVListBoxItem
								div Днепропетровск
					.TVTableBoxItem
						.TVLitera З
						.TVListBox
							.TVListBoxItem
								div Запорожье
					.TVTableBoxItem
						.TVLitera И
						.TVListBox
							.TVListBoxItem
								div Ивано-Франковск
					.TVTableBoxItem
						.TVLitera К
						.TVListBox
							.TVListBoxItem
								div Киев
							.TVListBoxItem
								div Кривой Рог
					.TVTableBoxItem
						.TVLitera Л
						.TVListBox
							.TVListBoxItem
								div Львов
					.TVTableBoxItem
						.TVLitera О
						.TVListBox
							.TVListBoxItem
								div Одесса
					.TVTableBoxItem
						.TVLitera Р
						.TVListBox
							.TVListBoxItem
								div Рига
				.TVCol
					.TVTableBoxItem
						.TVLitera Х
						.TVListBox
							.TVListBoxItem
								div Харьков
							.TVListBoxItem
								div Херсон

// Tourvisor country popup
.tv_drop_panel.TVTable.TVCountryCombo.TVHide
	.tv_content
		.TVChooseCountry
			.TVPopCountries
				.TVLabel Популярные:
				.TVListBox.TVEnd(style='width: 100%; height: 280px;')
					.TVListBoxItem
						div
							.TVCountryFlag(style='background-position: 0px -42px;')
							| Турция
					.TVListBoxItem
						div
							.TVCountryFlag(style='background-position: 0px -14px;')
							| Таиланд
					.TVListBoxItem
						div
							.TVCountryFlag(style='background-position: 0px -210px;')
							| Вьетнам
					.TVListBoxItem
						div
							.TVCountryFlag(style='background-position: 0px -644px;')
							| Россия
					.TVListBoxItem
						div
							.TVCountryFlag(style='background-position: 0px -56px;')
							| Тунис
					.TVListBoxItem
						div
							.TVCountryFlag(style='background-position: 0px -196px;')
							| Кипр
					.TVListBoxItem
						div
							.TVCountryFlag(style='background-position: 0px -112px;')
							| ОАЭ
					.TVListBoxItem
						div
							.TVCountryFlag(style='background-position: 0px -70px;')
							| Греция
			.TVOtherCountries(style='width: 70%;')
				.TVLabel Все страны:
				.TVOptionCheckBox.TVOnlyDirect(meta='domnode,checktoggle,checkvalue', title='Не показывать туры со стыковкой в Москве') Только прямые рейсы
				div
					.TVListBox(style='width: 33%;')
						.TVListBoxItem
							div Абхазия
						.TVListBoxItem
							div Болгария
						.TVListBoxItem
							div Венгрия
						.TVListBoxItem
							div Вьетнам
						.TVListBoxItem
							div Греция
						.TVListBoxItem
							div Грузия
						.TVListBoxItem
							div Доминикана
						.TVListBoxItem
							div Египет
						.TVListBoxItem
							div Израиль
						.TVListBoxItem
							div Индия
						.TVListBoxItem
							div Индонезия
					.TVListBox(style='width: 33%;')
						.TVListBoxItem
							div Иордания
						.TVListBoxItem
							div Испания
						.TVListBoxItem
							div Италия
						.TVListBoxItem
							div Кипр
						.TVListBoxItem
							div Китай
						.TVListBoxItem
							div Куба
						.TVListBoxItem
							div Мальдивы
						.TVListBoxItem
							div Марокко
						.TVListBoxItem
							div Мексика
						.TVListBoxItem
							div ОАЭ
					.TVListBox.TVEnd(style='width: 33%;')
						.TVListBoxItem
							div Россия
						.TVListBoxItem
							div Таиланд
						.TVListBoxItem
							div Танзания
						.TVListBoxItem
							div Тунис
						.TVListBoxItem
							div Турция
						.TVListBoxItem
							div Франция
						.TVListBoxItem
							div Хорватия
						.TVListBoxItem
							div Черногория
						.TVListBoxItem
							div Чехия
						.TVListBoxItem
							div Шри-Ланка
				.TVClearFix
				.TVShowAllCountries

// Tourvisor data picker
.tv_drop_panel.TVTable.TVDataPicker.TVHide
	.tv_content
		.tv_dtp_calendar(style='width: 469px;')
			.TVLabel
				| Выберите 
				b начальную
				|  дату вылета:
			.tv_dtp_header
				.TVNavButton
					.tv_dtp_left_button
				.tv_dtpk_left_separator
				.tv_calendar_header(style='width: 209px;') Октябрь 2018
				.tv_dtpk_left_separator
				.tv_calendar_header(style='width: 209px;') Ноябрь 2018
				.tv_dtpk_right_separator
				.TVNavButton
					.tv_dtp_right_button
			div(style='height: 177px;')
				.tv_dtp_table
					table(cellpadding='0', cellspacing='0')
						thead
							tr
								td Пн
								td Вт
								td Ср
								td Чт
								td Пт
								td Сб
								td Вс
						tbody
							tr
								td.tv_unavailable_days.tv_dtp_standart_cell 1
								td.tv_unavailable_days.tv_dtp_standart_cell 2
								td.tv_unavailable_days.tv_dtp_standart_cell 3
								td.tv_unavailable_days.tv_dtp_standart_cell 4
								td.tv_unavailable_days.tv_dtp_standart_cell 5
								td.tv_unavailable_days.tv_dtp_standart_cell 6
								td.tv_unavailable_days.tv_dtp_right_cell 7
							tr
								td.tv_unavailable_days.tv_dtp_standart_cell 8
								td.tv_unavailable_days.tv_dtp_standart_cell 9
								td.tv_unavailable_days.tv_dtp_standart_cell 10
								td.tv_unavailable_days.tv_dtp_standart_cell 11
								td.tv_unavailable_days.tv_dtp_standart_cell 12
								td.tv_unavailable_days.tv_dtp_standart_cell 13
								td.tv_unavailable_days.tv_dtp_right_cell 14
							tr
								td.tv_unavailable_days.tv_dtp_standart_cell 15
								td.tv_unavailable_days.tv_dtp_standart_cell 16
								td.tv_unavailable_days.tv_dtp_standart_cell 17
								td.tv_unavailable_days.tv_dtp_standart_cell 18
								td.tv_unavailable_days.tv_dtp_standart_cell 19
								td.tv_unavailable_days.tv_dtp_standart_cell 20
								td.tv_unavailable_days.tv_dtp_right_cell 21
							tr
								td.tv_unavailable_days.tv_dtp_standart_cell 22
								td.tv_unavailable_days.tv_dtp_standart_cell 23
								td.tv_unavailable_days.tv_dtp_standart_cell 24
								td.tv_unavailable_days.tv_dtp_standart_cell 25
								td.tv_unavailable_days.tv_dtp_standart_cell 26
								td.tv_unavailable_days.tv_dtp_standart_cell 27
								td.tv_today.tv_dtp_right_cell 28
							tr
								td.tv_available_days.tv_selected_date.tv_start_date.tv_fly_available.tv_dtp_bottom_cell 29
								td.tv_available_days.tv_selected_date.tv_fly_available.tv_dtp_bottom_cell 30
								td.tv_available_days.tv_selected_date.tv_fly_available.tv_dtp_bottom_cell 31
								td.tv_dtp_moz_fix.tv_dtp_standart_cell 32
								td.tv_dtp_moz_fix.tv_dtp_empty_cell 32
								td.tv_dtp_moz_fix.tv_dtp_empty_cell 32
								td.tv_dtp_moz_fix.tv_dtp_empty_cell 32
				.tv_dtp_table.tv_dtp_margin_left
					table(cellpadding='0', cellspacing='0')
						thead
							tr
								td Пн
								td Вт
								td Ср
								td Чт
								td Пт
								td Сб
								td Вс
						tbody
							tr
								td.tv_dtp_moz_fix 32
								td.tv_dtp_moz_fix 32
								td.tv_dtp_moz_fix 32
								td.tv_available_days.tv_selected_date.tv_fly_available.tv_dtp_standart_cell 1
								td.tv_available_days.tv_selected_date.tv_fly_available.tv_dtp_standart_cell 2
								td.tv_available_days.tv_selected_date.tv_fly_available.tv_dtp_standart_cell 3
								td.tv_available_days.tv_selected_date.tv_fly_available.tv_dtp_right_cell 4
							tr
								td.tv_available_days.tv_selected_date.tv_fly_available.tv_dtp_standart_cell 5
								td.tv_available_days.tv_selected_date.tv_fly_available.tv_dtp_standart_cell 6
								td.tv_available_days.tv_selected_date.tv_last_date.tv_fly_available.tv_dtp_standart_cell 7
								td.tv_available_days.tv_fly_available.tv_dtp_standart_cell 8
								td.tv_available_days.tv_fly_available.tv_dtp_standart_cell 9
								td.tv_available_days.tv_fly_available.tv_dtp_standart_cell 10
								td.tv_available_days.tv_fly_available.tv_dtp_right_cell 11
							tr
								td.tv_available_days.tv_fly_available.tv_dtp_standart_cell 12
								td.tv_available_days.tv_fly_available.tv_dtp_standart_cell 13
								td.tv_available_days.tv_fly_available.tv_dtp_standart_cell 14
								td.tv_available_days.tv_fly_available.tv_dtp_standart_cell 15
								td.tv_available_days.tv_fly_available.tv_dtp_standart_cell 16
								td.tv_available_days.tv_fly_available.tv_dtp_standart_cell 17
								td.tv_available_days.tv_fly_available.tv_dtp_right_cell 18
							tr
								td.tv_available_days.tv_fly_available.tv_dtp_standart_cell 19
								td.tv_available_days.tv_fly_available.tv_dtp_standart_cell 20
								td.tv_available_days.tv_fly_available.tv_dtp_standart_cell 21
								td.tv_available_days.tv_fly_available.tv_dtp_standart_cell 22
								td.tv_available_days.tv_fly_available.tv_dtp_standart_cell 23
								td.tv_available_days.tv_fly_available.tv_dtp_standart_cell 24
								td.tv_available_days.tv_fly_available.tv_dtp_right_cell 25
							tr
								td.tv_available_days.tv_fly_available.tv_dtp_bottom_cell 26
								td.tv_available_days.tv_fly_available.tv_dtp_bottom_cell 27
								td.tv_available_days.tv_fly_available.tv_dtp_bottom_cell 28
								td.tv_available_days.tv_fly_available.tv_dtp_bottom_cell 29
								td.tv_available_days.tv_fly_available.tv_dtp_bottom_cell 30
								td.tv_dtp_moz_fix.tv_dtp_standart_cell 32
								td.tv_dtp_moz_fix.tv_dtp_empty_cell 32
				.TVClearFix
			.tv_dtp_footer
				.tv_hint.tv_fly_available
				| - Серым цветом отмечены вылеты из выбранного Вами города

// Tourvisor length of stay popup
.tv_drop_panel.TVTable.TVChooseDrop.TVHide
	.tv_content
		.TVLabel.TVNightLabel
			| Ночей 
			b от
			| :
		.tv_dtp_calendar
			table(cellpadding='0', cellspacing='0')
				tbody
					tr
						td.tv_available_days.tv_dtp_standart_cell 1
						td.tv_available_days.tv_dtp_standart_cell 2
						td.tv_available_days.tv_dtp_standart_cell 3
						td.tv_available_days.tv_dtp_standart_cell 4
						td.tv_available_days.tv_dtp_standart_cell 5
						td.tv_available_days.tv_dtp_standart_cell.tv_selected_date.tv_start_date 6
						td.tv_available_days.tv_dtp_right_cell.tv_selected_date 7
					tr
						td.tv_available_days.tv_dtp_standart_cell.tv_selected_date 8
						td.tv_available_days.tv_dtp_standart_cell.tv_selected_date 9
						td.tv_available_days.tv_dtp_standart_cell.tv_selected_date 10
						td.tv_available_days.tv_dtp_standart_cell.tv_selected_date 11
						td.tv_available_days.tv_dtp_standart_cell.tv_selected_date 12
						td.tv_available_days.tv_dtp_standart_cell.tv_selected_date 13
						td.tv_available_days.tv_dtp_right_cell.tv_selected_date.tv_last_date 14
					tr
						td.tv_available_days.tv_dtp_standart_cell 15
						td.tv_available_days.tv_dtp_standart_cell 16
						td.tv_available_days.tv_dtp_standart_cell 17
						td.tv_available_days.tv_dtp_standart_cell 18
						td.tv_available_days.tv_dtp_standart_cell 19
						td.tv_available_days.tv_dtp_standart_cell 20
						td.tv_available_days.tv_dtp_right_cell 21
					tr
						td.tv_available_days.tv_dtp_bottom_cell 22
						td.tv_available_days.tv_dtp_bottom_cell 23
						td.tv_available_days.tv_dtp_bottom_cell 24
						td.tv_available_days.tv_dtp_bottom_cell 25
						td.tv_available_days.tv_dtp_bottom_cell 26
						td.tv_available_days.tv_dtp_bottom_cell 27
						td.tv_available_days.tv_dtp_last_cell 28

// Tourvisor number of travellers popup
.tv_drop_panel.TVTouristDrop.TVHide
	.tv_content
		.TVLabel.TVBoxLabel Взрослых:
		.TVRatingBox.TVAdults(style='height: 35px;')
			div
				.TVImageBox.TVAdultImage1
					div
				.TVImageBox.TVAdultImage2
					.TVImageActive
				.TVImageBox.TVAdultImage3
					div
				.TVImageBox.TVAdultImage4
					div
		.TVLabel.TVBoxLabel Детей:
		.TVLabel.TVBoxLabel.TVNoChildren.TVHide Без детей
		.TVRatingBox.TVChildren(style='height: 32px;')
			div
				.TVImageBox.TVChildImage1
					div
				.TVImageBox.TVChildImage2
					div
				.TVImageBox.TVChildImage3
					div
		.TVLabel.TVBoxLabel.TVHide Возраст детей:
		div
			.TVComboBox.TVChildAge.TVHide(style='width: 65px;')
				.TVTextBox
					.TVTextBoxContent(title='2 года') 2 года
			.TVComboBox.TVChildAge.TVHide(style='width: 65px;')
				.TVTextBox
					.TVTextBoxContent(title='2 года') 2 года
			.TVComboBox.TVChildAge.TVHide(style='width: 65px;')
				.TVTextBox
					.TVTextBoxContent(title='2 года') 2 года
		.TVClearFix
		.TVOptionCheckBox.TVSaveTourists(meta='domnode,checktoggle,checkvalue') Запомнить выбор
		.TVTheme2Button(style='width: 213px;') Выбрать