section#articles
	.container
		.row
			.col-12
				h2.mb-3 Статьи
				p Придумать описание для этого блока, чтобы лучше раскрыть его суть
		.row
			.col-md-6.col-lg-4
				+article-card('01', 'Лиссабон')
					| Лиссабон — самая западная столица Европы. Европейский континент обрывается на мысе Рока недалеко от города, а далее за ним простирается лишь бескрайний Атлантический океан.
			.col-md-6.col-lg-4
				+article-card('02', 'Париж')
					| Париж — город, о котором мечтают. Количество всемирно известных достопримечательностей здесь просто зашкаливает: Эйфелева башня, Нотр-Дам-де-Пари, Лувр, Мулен Руж, Монмартр...
			.col-lg-4.d-none.d-lg-block
				+article-card('03', 'Мадрид')
					| Столица Испании по праву считается одним из красивейших городов мира. Здесь приятно гулять по извилистым улицам, рассматривая храмы разных эпох, здания в стиле барокко и образцы архитектуры ар-нуво.