section#cruises.position-relative
	img(src='assets/img/cruises/gallery/01.jpg')
	.container.h-100
		.row.h-100.align-items-center
			.col-11.col-md-6.col-lg-5.col-xl-4
				h2 Круизы в&nbsp;любую точку мира
				p Придумать описание для этого блока, чтобы лучше раскрыть его суть
				a.btn(href='cruise.html') Смотреть все круизы