section#subscribe
	.container
		.row
			.col.flex-grow-0.d-none.d-lg-flex
				img(src='assets/img/whatsapp.png' alt='img')
			.col
				h3 Подпишитесь на рассылку
				p Чтобы первым узнавать горящие предложения от нашей компании
				form.form-inline.flex-nowrap
					input#subscriberName.form-control.d-none.d-md-inline-block.flex-fill(type='text' placeholder='Введите ваше имя')
					input#subscriberPhone.form-control.flex-fill(type='text' placeholder='Введите ваш телефон')
					button.btn.flex-md-fill.text-center(type='submit')
						span.d-none.d-md-inline Подписаться