section#news
	.container
		.row
			.col-12
				.d-flex.justify-content-between.align-items-center.flex-nowrap
					h2.mb-3 Новости дня
					.ribbon-controls(data-items-per-step='2')
						a.ribbon-control-prev(href='#ribbonNews' role='button' data-slide='prev')
							.sr-only Previous
						a.ribbon-control-next(href='#ribbonNews' role='button' data-slide='next')
							.sr-only Next
				.ribbon#ribbonNews
					.ribbon-inner
						.ribbon-item
							+news-card('Каир назвали самым быстроразвивающимся городом для городских туристов', '25 октября')
								| Каир получил первое место в рейтинге Всемирного совета по туризму и путешествиям, который оценивал темпы развития городов в сфере туризма. Согласно данным проводящих исследование, именно крупные города становятся локомотивами развития туристической отрасли, а количество посещений иностранными гостями самых известных мировых мегаполисов прев
						.ribbon-item
							+news-card('Ныряй в море!', '14 сентября')
								| Разбегаешься, отталкиваешься, прыжок, группировка - плюх в воду! Да, это то, ради чего мы ходим в отпуск.
								
						.ribbon-item
							+news-card('Рыба умеет плавать!', '20 августа')
								| До недавнего времени оставалось загадкой, но уже сейчас британские учёные пришли к выводу: да, действительно, рыба плавает. Каким образом, ещё предстоить выяснить, ну а пока не упустите шанс посетить дельфинарий на Пхукете!
						.ribbon-item
							+news-card('Улетел на Яву без денег', '18 июля')
								| &mdash; Деньги были только на билеты, говорит Руслан. Когда приземлился, осознал, что нужно будет оплатить проживание, локальные поездки и еду. Выжить удалось только благодаря русской смекалке.
						.ribbon-item
							+news-card('Шлёпком в бок, два-три - хлопок!', '31 мая')
								| Учиться танцевать сальсу лучше, конечно же, у кубинских мастеров. И эффективнее делать это на Кубе. Лететь далеко, но поездка себя оправдывает. Именно так и поступил молодой кассир Макдональда Евгений.