include mixins.pug
doctype html
html(lang='en')
	head
		include includes/head.pug
	body
		block body
			block header
			block content
			block footer
		block scripts-delayed
			include includes/scripts-delayed.pug
		script(src='assets/js/scripts.js')
		include includes/modals.pug