extends ../templates/page-regular.tpl.pug

block header-tpl-vars
	- let headerAttrs = { 'class': 'header-article-list no-bg' }

block header-optional
	img(src='assets/img/cruises/gallery/01.jpg')
	section.hero-fullwidth.d-none.d-md-block.my-auto
		.container
			.row.align-items-center
				.col-11.col-lg-8.col-xl-4
					h2 Какая-то важная новость
					p Придумать описание для этого блока, чтобы лучше раскрыть его суть
					a.btn(href='#') Узнать подробнее

block content
	
	.wrapper
		.container
			.row
				.col-md-6.col-lg-4
					+article-card('01', 'Лиссабон')
						| Лиссабон — самая западная столица Европы. Европейский континент обрывается на мысе Рока недалеко от города, а далее за ним простирается лишь бескрайний Атлантический океан.
				.col-md-6.col-lg-4
					+article-card('02', 'Париж')
						| Париж — город, о котором мечтают. Количество всемирно известных достопримечательностей здесь просто зашкаливает: Эйфелева башня, Нотр-Дам-де-Пари, Лувр, Мулен Руж, Монмартр...
				.col-lg-4.d-none.d-lg-block
					+article-card('03', 'Мадрид')
						| Столица Испании по праву считается одним из красивейших городов мира. Здесь приятно гулять по извилистым улицам, рассматривая храмы разных эпох, здания в стиле барокко и образцы архитектуры ар-нуво.
				.col-md-6.col-lg-4
					+article-card('01', 'Лиссабон')
						| Лиссабон — самая западная столица Европы. Европейский континент обрывается на мысе Рока недалеко от города, а далее за ним простирается лишь бескрайний Атлантический океан.
				.col-md-6.col-lg-4
					+article-card('02', 'Париж')
						| Париж — город, о котором мечтают. Количество всемирно известных достопримечательностей здесь просто зашкаливает: Эйфелева башня, Нотр-Дам-де-Пари, Лувр, Мулен Руж, Монмартр...
				.col-lg-4.d-none.d-lg-block
					+article-card('03', 'Мадрид')
						| Столица Испании по праву считается одним из красивейших городов мира. Здесь приятно гулять по извилистым улицам, рассматривая храмы разных эпох, здания в стиле барокко и образцы архитектуры ар-нуво.
	section#articles-middle.hero-fullwidth.d-none.d-md-block
		img(src='assets/img/cruises/gallery/01.jpg')
		.container.h-100
			.row.h-100.align-items-center
				.col-11.col-md-6.col-lg-5.col-xl-4
					h2 Тоже важная новость
					p Придумать описание для этого блока, чтобы лучше раскрыть его суть
					a.btn(href='#') Узнать подробнее
	.wrapper
		.container
			.row
				.col-md-6.col-lg-4
					+article-card('01', 'Лиссабон')
						| Лиссабон — самая западная столица Европы. Европейский континент обрывается на мысе Рока недалеко от города, а далее за ним простирается лишь бескрайний Атлантический океан.
				.col-md-6.col-lg-4
					+article-card('02', 'Париж')
						| Париж — город, о котором мечтают. Количество всемирно известных достопримечательностей здесь просто зашкаливает: Эйфелева башня, Нотр-Дам-де-Пари, Лувр, Мулен Руж, Монмартр...
				.col-lg-4.d-none.d-lg-block
					+article-card('03', 'Мадрид')
						| Столица Испании по праву считается одним из красивейших городов мира. Здесь приятно гулять по извилистым улицам, рассматривая храмы разных эпох, здания в стиле барокко и образцы архитектуры ар-нуво.
				.col-md-6.col-lg-4
					+article-card('01', 'Лиссабон')
						| Лиссабон — самая западная столица Европы. Европейский континент обрывается на мысе Рока недалеко от города, а далее за ним простирается лишь бескрайний Атлантический океан.
				.col-md-6.col-lg-4
					+article-card('02', 'Париж')
						| Париж — город, о котором мечтают. Количество всемирно известных достопримечательностей здесь просто зашкаливает: Эйфелева башня, Нотр-Дам-де-Пари, Лувр, Мулен Руж, Монмартр...
				.col-lg-4.d-none.d-lg-block
					+article-card('03', 'Мадрид')
						| Столица Испании по праву считается одним из красивейших городов мира. Здесь приятно гулять по извилистым улицам, рассматривая храмы разных эпох, здания в стиле барокко и образцы архитектуры ар-нуво.
						
					