extends ../templates/page-regular.tpl.pug

block header-tpl-vars
	- let headerAttrs = { 'class': 'header-article no-bg' }

block header-optional
	img(src='assets/img/articles/bgs/01.jpg')
	.article-title
		.container
			.row
				.offset-md-4.col-md-8
					.date 15.12.18
					h1 Оман. Новое направление от Пегас Туристик
	
	

block content
	.wrapper#content-article
		.container
			.row
				.col-md-6.col-lg-4.order-1.order-md-0
						.sidebar
							h5 Последние статьи
							+article-thumb('01', 'Ай-да на юга!')
							+article-thumb('02', 'Летний марафон отпусков')
							+article-thumb('03', 'Раскрепощённый тур по южным недорогим странам')
							+article-thumb('04', 'Воплощая мечты')
							+article-thumb('05', 'В году должен быть хотя бы месяц отпуска')
							+article-thumb('06', 'Тело - в песок, ноги - в воду!')
							+article-thumb('07', 'Солнце на максимум. Загар на пять с плюсом')
							+article-thumb('08', 'Пальмы, пляж и чистое голубое небо с облаками')

				.col-md-6.col-lg-8.order-0.order-md-1
					.content-block
						p Султанат Оман - это арабская Швейцария: в стране очень низкий уровень преступности, развитая инфраструктура, чистота и спокойная политическая обстановка, путешествовать по ней приятно и легко.
						p Это хороший выбор для тех, кто ищет аутентичного арабского востока, не с небоскребами-новостройками, но опасается назойливого сервиса, грязи, неупорядоченной жизни.
						p PEGAS Touristik запускает тур с прямым перелетом в Оман. Первый вылет уже 15 октября!
						p Оман - второе по величине государство Аравийского полуострова, находится в Персидском заливе, граничит с ОАЭ, Саудовской Аравией и Йеменом.
						p Прибрежная линия протяженностью 1700 километров омывается водами Индийского океана и Оманского залива. Лучшим временем для отдыха в Омане считается период с октября по июнь.
						p Салала – это местные «Мальдивы» на берегу Индийского океана, находится на юге страны и считается вторым по популярности после стодицы. Здесь вас ждут огромные пляжи с белым песком и чистейшей бирюзовой водой. Дождей зимой в этой зоне практически нет. Перелет из Москвы займет около 6 часов.
						p Султанат Оман - это арабская Швейцария: в стране очень низкий уровень преступности, развитая инфраструктура, чистота и спокойная политическая обстановка, путешествовать по ней приятно и легко.
						p Это хороший выбор для тех, кто ищет аутентичного арабского востока, не с небоскребами-новостройками, но опасается назойливого сервиса, грязи, неупорядоченной жизни.
						p PEGAS Touristik запускает тур с прямым перелетом в Оман. Первый вылет уже 15 октября!
						p Оман - второе по величине государство Аравийского полуострова, находится в Персидском заливе, граничит с ОАЭ, Саудовской Аравией и Йеменом.
						p Прибрежная линия протяженностью 1700 километров омывается водами Индийского океана и Оманского залива. Лучшим временем для отдыха в Омане считается период с октября по июнь.
						p Салала – это местные «Мальдивы» на берегу Индийского океана, находится на юге страны и считается вторым по популярности после стодицы. Здесь вас ждут огромные пляжи с белым песком и чистейшей бирюзовой водой. Дождей зимой в этой зоне практически нет. Перелет из Москвы займет около 6 часов.
						a.btn(href='tour-catalog.html') Перейти к подбору тура в&nbsp;Оман


		.container.gallery-header
			.row
				.col-12
					.d-flex.justify-content-between.align-items-center.w-100
						h2 Фото из Омана
						.ribbon-controls.d-xl-none(data-items-per-step='2')
							a.ribbon-control-prev(href='#ribbonGallery' role='button' data-slide='prev')
								.sr-only Previous
							a.ribbon-control-next(href='#ribbonGallery' role='button' data-slide='next')
								.sr-only Next

		.container.gallery
			.row
				.col-12
					.gallery-container
						.ribbon#ribbonGallery
							.ribbon-inner
								each i in [1, 2, 3, 4]
									+gallery-item('articles/extras', normalizeNumber(i))


block footer
	include ../templates/includes/footer.pug

