extends ../templates/page-light.tpl.pug

block content
	.wrapper
		.container
			.row
				.col-12
					h2.mb-5 Подкасты
				.col-md-6
					+audio-card('01', 'Дмитрий Перелётов', 'Летаем далеко')
				.col-md-6
					+audio-card('02', 'Подводный странник', 'Сноркелинг-рай на Бали')
				.col-md-6
					+audio-card('03', 'Александр Скороход', 'По ту сторону океана')
				.col-md-6
					+audio-card('04', 'Ярослав Куражный', 'Волна')
				.col-md-6
					+audio-card('05', 'Григорий Скидочный', 'Как экономить на отдыхе')
				.col-md-6
					+audio-card('06', 'Костя-на-драйве', 'Загран-туса, или "Рейд по пляжам Тайланда"')
				.col-md-6
					+audio-card('01', 'Дмитрий Перелётов', 'Летаем далеко')
				.col-md-6
					+audio-card('02', 'Подводный странник', 'Сноркелинг-рай на Бали')
				.col-md-6
					+audio-card('03', 'Александр Скороход', 'По ту сторону океана')
				.col-md-6
					+audio-card('04', 'Ярослав Куражный', 'Волна')
				.col-md-6
					+audio-card('05', 'Григорий Скидочный', 'Как экономить на отдыхе')
				.col-md-6
					+audio-card('06', 'Костя-на-драйве', 'Загран-туса, или "Рейд по пляжам Тайланда"')

