extends ../templates/page-regular.tpl.pug

block header-optional
	include ../templates/includes/tourvisor.pug
	.spacer-md-200
	
block content
	include ../templates/includes/main/section-tours.pug
	include ../templates/includes/main/section-news.pug
	include ../templates/includes/main/section-subscribe.pug
	include ../templates/includes/main/section-cruises.pug
	include ../templates/includes/main/section-media.pug
	include ../templates/includes/main/section-articles.pug
	include ../templates/includes/main/section-payment-methods.pug				
	include ../templates/includes/main/section-instagram.pug

append modals-optional
	include ../templates/includes/tourvisor-popups.pug

append scripts-delayed
	script(src='assets/js/tourvisor.js')