extends ../templates/page-regular.tpl.pug

block header-tpl-vars
	- let headerAttrs = { 'class': 'header-insurance' }

block header-optional
	.container
		.row
			.col-12.col-md-10.col-lg-8
				h1 Страхование выезжающих за&nbsp;рубеж
				p Планируя путешествие, не забудьте приобрести полис медицинского страхования. Приобретая страховой полис, Вы заботитесь о собственном здоровье и спокойствии во время поездки
				

block content
	.wrapper#content-insurance
		.container
			.row
				.col-12
					#block1
						img(src='assets/img/insurance/01.png')
						.description
							p В случае, если на отдыхе у вас возникнут проблемы со здоровьем, с полисом медицинского страхования ВСК вам будет предоставлена всесторонняя медицинская помощь и оплачены экстренные медицинские расходы.
							p Собираясь в путешествие, не откладывайте приобретение страховки ВСК в долгий ящик. Приобретая страховой полис, вы заботитесь о собственном здоровье и спокойствии.
							p Страховку от компании ВСК можно приобрести у нас в офисе, либо заказать его дистанционно.
					h2 Какие услуги включает страховой полис?
					table.table.table-responsive.table-default
						thead
							tr
								th Программы страхования / Страховые риски
								th Econom-class
								th Business-class
								th VIP-class
						tbody
							tr
								td Медицинские расходы
								td
									.icon.icon-yes
								td
									.icon.icon-yes
								td
									.icon.icon-yes
							tr
								td Медицинская транспортировка
								td
									.icon.icon-yes
								td
									.icon.icon-yes
								td
									.icon.icon-yes
							tr
								td Репатриация тела в случае смерти Застрахованного
								td
									.icon.icon-yes
								td
									.icon.icon-yes
								td
									.icon.icon-yes
							tr
								td Необходимость досрочного возвращения Застрахованного в экстренной ситуации
								td
									.icon.icon-yes
								td
									.icon.icon-yes
								td
									.icon.icon-yes
							tr
								td Административная помощь: передача экстренных сообщений при страховом случае
								td
									.icon.icon-yes
								td
									.icon.icon-yes
								td
									.icon.icon-yes
							tr
								td Экстренная стоматологическая помощь
								td
									.icon.icon-no
								td
									.icon.icon-yes
								td
									.icon.icon-yes
							tr
								td Утрата / задержка зарегистрированного багажа
								td
									.icon.icon-no
								td
									.icon.icon-yes
								td
									.icon.icon-yes
							tr
								td Необходимость визита третьего лица в чрезвычайной ситуации
								td
									.icon.icon-no
								td
									.icon.icon-no
								td
									.icon.icon-yes
							tr
								td Юридическая помощь
								td
									.icon.icon-no
								td
									.icon.icon-no
								td
									.icon.icon-yes
							tr
								td Организация помощи при потере документов
								td
									.icon.icon-no
								td
									.icon.icon-no
								td
									.icon.icon-yes
							tr
								td Задержка регулярного авиа или морского рейса
								td
									.icon.icon-no
								td
									.icon.icon-no
								td
									.icon.icon-yes
							tr
								td Поломка, повреждение, утрата (угон или хищение), наземного ТС, на котором Застрахованный осуществляет поездку за пределы РФ
								td
									.icon.icon-no
								td
									.icon.icon-no
								td
									.icon.icon-yes
		section#block2
			.container
				.row
					.col-lg-7
						h2 Повышающие коэффициенты:
				.row
					.col-md-7
						ul.list-positive
							li для лиц от 0  до 2  лет - тарифная ставка увеличивается в 2 раза
							li для лиц от 65 до 70 лет - тарифная ставка увеличивается в 2 раза
							li для лиц от 70 до 75 лет - тарифная ставка увеличивается в 3 раза
							li для лиц от 76 лет- тарифная ставка увеличивается в 4 раза
						a.btn(href='#') Рассчитать стоимость страхового времени
					.col-md-5
						img(src='assets/img/insurance/02.png')
		section
			.container
				.row
					.col-6.d-none.d-lg-block
						img(src='assets/img/insurance/03.jpg')
					.col-12.col-lg-6
						h2.mt-lg-5 Преимущества приобретения полиса выезжающих за рубеж в ВСК
						ul.list-positive
							li Организация медицинской помощи напрямую через надежные международные сервисные компании
							li Возможность возмещения при самостоятельной оплате медицинских услуг в любом из 800 представительств ВСК по всей России
							li Круглосуточный Контакт-центр на русском языке
							li Расширенный перечень страховых случаев
							li Возможность включения в страховое покрытие дополнительных рисков: занятия спортом для профессионалов и любителей, активные виды отдыха (дайвинг, горные лыжи, серфинг и др.), страхование от отмены поездки, утрата багажа, услуги экстренной стоматологии и др.

		section#block3
			.container.position-relative
				.row
					.col-12.col-lg-6.py-md-5
						h2 Что делать, если в поездке Вы заболели?
						p Организацию и оплату услуг экстренной медицинской помощи за рубежом от имени ВСК осуществляют сервисные компании. Если во время поездки у Вас возникла необходимость обратиться к врачу (т.е. наступил страховой случай), возможны несколько вариантов обращения за помощью.
						p Позвоните в сервисную компанию по телефону, указанному в полисе страхования. Сообщите диспетчеру номер страхового полиса, суть возникшей проблемы, свое местонахождение и свой контактный телефон.
						p Больше Вам ничего делать не придется. Сервисная компания в зависимости от ситуации либо пришлет к Вам врача, либо организует госпитализацию. Все расчеты за оказанные услуги через сервисную компанию осуществляет ВСК. Это наиболее удобный способ урегулирования страхового случая — Вам не нужно платить из своего кармана.
					.col.d-none.d-lg-block
						img(src='assets/img/insurance/04.png')
		section#block4.pb-0
			.container
				.row
					.col-6.d-none.d-lg-block
						img(src='assets/img/insurance/05.jpg')
					.col-12.col-lg-6
						h2.mt-lg-5 Вы можете самостоятельно обратиться к врачу
						p В экстренных случаях, исключающих возможность обращения в сервисную компанию, Вы можете самостоятельно обратиться к врачу. В этом случае есть три варианта дальнейших действий.
						p
							b Предъявите доктору страховой полис и прямо от него свяжитесь с сервисной компанией (сообщите о страховом случае).
						ul.list-positive
							li Сервисная компания при получении от врача выписанного им счета передает ему гарантию оплаты. В этом случае Вы не платите врачу, оплата осуществляется через сервисную компанию, но за качество оказываемых услуг сервисная компания ответственности не несет!
						p
							b Вы самостоятельно оплачиваете счет.
						ul.list-positive
							li В этом случае Вам необходимо взять оригиналы всех имеющихся медицинских отчетов, счетов, рецептов и чеков (в медицинском отчете обязательно должны быть указаны диагноз и оказанные услуги).
							li По возвращении домой обратитесь в ближайший филиал ВСК с заявлением о выплате и предоставьте все собранные документы.
						p
							b Врач/Больница оказали Вам необходимые услуги и забирают копию страхового полиса без требования немедленной оплаты. Такая ситуация чаще всего возникает в Финляндии и некоторых других Европейских странах.
						ul.list-positive
							li Предоставьте больнице копию страхового полиса.
							li После получения на свой домашний адрес оригинального счета обратитесь в ближайший филиал ВСК и предоставьте присланный счет.
						.notice
							p После выяснения обстоятельств и получения медицинских отчетов ВСК через сервисную компанию оплатит выставленный больницей счет.
						.notice
							p Обращаясь к врачу самостоятельно, будьте крайне внимательны: За качество предоставленных медицинских услуг ни ВСК, ни сервисная компания ответственности не несут!
	include ../templates/includes/main/section-subscribe.pug