extends ../templates/tour-page.tpl.pug

append header-tpl-vars
	- let toursPageActive = 1

block tour-content
	.content-block
		h2 Экскурсии в&nbsp;Германию
		p Невозможно рассказать о всех достопримечательностях величественной Германии. Никакой знаток культуры не сможет составить рейтинг самых интересных и восхитительных мест, ведь каждое из них занимает особое место в истории и сердцах немцев. И все же есть особенные визитные карточки страны, по которым легко ее узнать, и которые обязательно нужно включить в свое путешествие.
		+cover-card-2('01', 'tours/excursions/germany', 'Замок Нойшванштайн')
		p Пожалуй, самый знаменитый замок в мире, если только не учитывать розоватые башни Диснейленда. Здание будто парит над горами, оно прекрасно в любое время года: утопает в зелени летом, в цветах - весной, зимой в снеге, а осенью в золоте. За этой красотой к нему съезжаются толпы туристов.
		p Замок – воплощение рыцарской мечты, и строители постарались на славу. Внутри фотографировать запрещено, и это еще сильнее притягивает туристов: иначе как они узнают, что скрывает в себе это архитектурное чудо? Ну а после посещения можно насладиться либо соседним замком Хоэншвангау, либо окрестной природой.
		+cover-card-2('02', 'tours/excursions/germany', 'Берлинская стена')
		p Не самая позитивная достопримечательность, но какая весомая! Ее историческая ценность настолько велика, что кусочки стены хранятся даже в штаб-квартире ЦРУ. Раскрывать историю этого сооружения лучше всего в самом Берлине, где до сих пор можно проследить все последствия деления города.
		p Ранее стена была символом раздора, а сейчас она – пример единения и свободы. Различные фонды ЕС занимаются восстановлением разобранных плит, но уже с мирной целью. Для этого фрагменты выкупаются у частных коллекционеров за огромные деньги. Уже восстановлены три вышки и 8 м самой стены.
		p Это стоит увидеть, к этому стоит прикоснуться, чтобы понять, что значат родственные узы и желание быть с любимыми. А затем можно отправиться к граффити целующегося Брежнева и Хоннекера.
		+cover-card-2('03', 'tours/excursions/germany', 'Королевская аллея')
		p Знаменитая аллея находится в Дюссельдорфе, ее знают все немцы. На ней собраны галереи, достопримечательности и бутики. Целая улица, позволяющая вникнуть в мир высокой моды. Украшенная фонтанами и зелеными насаждениями, по ней очень приятно гулять.
		p Здесь проходят различные выставки, музыкальные мероприятия, воздвигнуты Немецкая опера и драматический театр, а рядом расположен музей театра. Аллея создана для неспешного времяпровождения и для тугих кошельков.
		p Если дорогой шопинг не по карману, намного лучше просто присесть на лавочке и отдохнуть. К счастью, «массовый турист» на аллее не задерживается, спеша посетить еще сотню мест, а потому отдохнуть и насладиться прекрасным видом никто не помешает.
		+cover-card-2('04', 'tours/excursions/germany', 'Озеро Альстер')
		p Гамбург со всех сторон окружен водой, и даже в самом его центре расположено озеро Альстер. Несмотря на невероятно развитый город вокруг, водоем сумел остаться нетронутым цивилизацией. Вокруг расположены парки и аллеи.
		p Здесь обожают отдыхать и туристы, и горожане. Из водной глади бьют фонтаны, за которыми можно долго наблюдать с лавочек набережной. А любителей активного отдыха ждет 7-км прогулка вокруг водоема.
		p Кроме этого, можно арендовать катамаран или катер, или прокатиться на прогулочной лодке к знаменитой скульптуре купающейся девушки. За короткий период времени эта инсталляция стала самой популярной во всем Гамбурге. Катера к ней ходят каждый час.
		+cover-card-2('05', 'tours/excursions/germany', 'Сад пальм')
		p Поразительной красоты ботанический сад расположен во Франкфурте. Это настоящий эдем. Сад является лучшим в Европе, и интересен будет не только ботаникам. Здесь уместилась флора почти со всех уголков планеты!
		p Разбитая на экосистемы, территория в 22 га позволяет выращивать ананасы рядом с елью, кокосы рядом с кактусами, нарциссы рядом с бамбуком. Глаз радует уникальное количество красок: цветы и растения различных форм и оттенков. И в округе разносится головокружительный аромат орхидей, лайма, кокосов, миндаля…
		p Цветение происходит круглогодично. Как только одно растение отцветает, на его место высаживают другое. Есть холодные и теплые зоны. И, конечно, здесь растут пальмы в специальных стеклянных корпусах, высотой 18 м. Все это великолепие нужно увидеть своими глазами! А заодно и попасть на одну из тематических выставок.
		p В Германии любой турист сможет подобрать для себя нужные места и заказать к ним экскурсии. Из-за большого потока туристов различные автобусы к достопримечательностям отправляются каждый час, а ознакомиться с предложениями и поездками можно на каждом углу. Но и самостоятельное планирование путешествия принесет плоды: в Германии легко ориентироваться благодаря многочисленным указателям, хорошо развитой инфраструктуре и приветливым жителям.

	.links.d-md-none
		h2 Каталог
		+cover-card('01', 'tours/excursions/germany/extras', 'Подбор отелей в Германии', null, 'hotels.html')
		+cover-card('02', 'tours/excursions/germany/extras', 'Оформить визу в Германию', null, 'visa-info-china.html')
		+cover-card('03', 'tours/excursions/germany/extras', 'Подбор авиабилетов в Германию', null, 'air-tickets.html')