extends ../templates/page-light.tpl.pug

block content
	.wrapper
		#content-trains
			.container
				.row
					.col-12
						h2.mb-3 Все таблицы
						p Для вашего удобства мы предлагаем вам подробное расписание ЖД поездов Китая.
						
						h3 ХЭЙХЕ &mdash; ХАРБИН
						table.table.table-responsive.table-default
							thead
								tr
									th Отправление
									th Время отпр.
									th № поезда
									th Прибытие
									th Время приб.
									th Цена, юани
									th Длительность
							tbody
								tr
									td Heihe
									td 08:20
									td 4032
									td Harbin East
									td 21:07
									td
										| Сидячие места мягкие 180&nbsp;Y
										br
										| Сидячие места жесткие 150&nbsp;Y
									td 5&nbsp;ч. 20&nbsp;мин.
								tr
									td Heihe
									td 19:15
									td K7034
									td Harbin East
									td 6:20
									td
										| Купе 350&nbsp;Y
										br
										| Плацкарт 250&nbsp;Y
									td 6&nbsp;ч. 13&nbsp;мин.
								tr
									td Heihe
									td 20:35
									td K7036
									td Harbin
									td 07:28
									td
										| Купе 350&nbsp;Y
										br
										| Плацкарт 250&nbsp;Y
									td 4&nbsp;ч. 12&nbsp;мин.
						h3 ХАРБИН &mdash; ХЭЙХЕ 
						table.table.table-responsive.table-default
							thead
								tr
									th Отправление
									th Время отпр.
									th № поезда
									th Прибытие
									th Время приб.
									th Цена, юани
									th Длительность
							tbody
								tr
									td Harbin East
									td 7:42
									td 4031
									td Heihe
									td 19:55
									td
										| Сидячие места мягкие 180&nbsp;Y
										br
										| Сидячие места жесткие 150&nbsp;Y
									td 5&nbsp;ч. 20&nbsp;мин.
								tr
									td Harbin
									td 19:11
									td K7035
									td Heihe
									td 6:35
									td
										| Купе 350&nbsp;Y
										br
										| Плацкарт 250&nbsp;Y
									td 6&nbsp;ч. 13&nbsp;мин.
								tr
									td Harbin East
									td 20:43
									td K7033
									td Heihe
									td 07:30
									td
										| Купе 350&nbsp;Y
										br
										| Плацкарт 250&nbsp;Y
									td 4&nbsp;ч. 12&nbsp;мин.

						h3 ХАРБИН &mdash; ПЕКИН 
						table.table.table-responsive.table-default
							thead
								tr
									th Отправление
									th Время отпр.
									th № поезда
									th Прибытие
									th Время приб.
									th Цена, юани
									th Длительность
							tbody
								tr
									td Harbin West
									td 06:50
									td D28
									td Beijing
									td 14:55
									td 2-й класс 400 Y
									td 5&nbsp;ч. 20&nbsp;мин.
								tr
									td Harbin
									td 19:11
									td K7035
									td Heihe
									td 6:35
									td
										| Купе 350&nbsp;Y
										br
										| Плацкарт 250&nbsp;Y
									td 6&nbsp;ч. 13&nbsp;мин.
								tr
									td Harbin East
									td 20:43
									td K7033
									td Heihe
									td 07:30
									td
										| Купе 350&nbsp;Y
										br
										| Плацкарт 250&nbsp;Y
									td 4&nbsp;ч. 12&nbsp;мин.