extends ../templates/page-light.tpl.pug

block content
	.wrapper
		.container
			.row
				.col-12
					h2.mb-5 Видео
					.media-block.videos
				.col-md-6
					+video-card('2-KVPLwRkCA', 'Мальдивы. Лучший в Мире Отдых. Рай на Земле')
				.col-md-6
					+video-card('4STCHNvB_QI', 'Бухта Ха Лонг. Вьетнам')
				.col-md-6
					+video-card('aRwIil2zv6E', 'Отдых в Китае')
				.col-md-6
					+video-card('ztliu3z0NZ4', 'Прежде чем ехать отдыхать в Египет, нужно знать что...')
				.col-md-6
					+video-card('t9E0-X-p8nA', 'Отдых в Картахене. Колумбия')
				.col-md-6
					+video-card('-lprT7ON70U', 'Тайланд отзывы - все что нужно знать!')


					