extends ../templates/page-light.tpl.pug

block content
	.wrapper
		#content-visa-info
			.container
				.row
					.col-12
						h2.mb-3 Виза в&nbsp;Китай
				.row
					.col-md-10.col-lg-8
						p Внимание! Стоимость виз в КНР актуальна только для жителей с постоянной или временной пропиской: Хабаровского края, Амурской области, ЕАО, Якутии. Для жителей других регионов стоимость виз по запросу.
			section
				.container
					.row
						.col-md-4.col-lg-3
							.row
								.col-12.order-2.order-md-1
									p
										b L-30 - туристическая однократная до 30 дней пребывания коридор действия визы 3 месяца
								.col-12.order-1.order-md-2
									img(src='assets/img/visas/content/l-30.jpg')
						.col-md-5.col-lg-6.col-xl-7
							p Фото 3,3 x 4,8 см. (
								a(href='404.html') требования к фото
								| ), загранпаспорт, копия паспорта РФ, копия страницы с пропиской, копия страницы с отметками о ранее выданном заграничном паспорте, для несовершеннолетних свидетельство о рождении,
								|
								a(href='#') опросный лист
								| .
							.notice
								p ВАЖНО! Для оформления туристической визы необходимо  предоставить полис страхования, покрывающий весь период поездки (Письмо Генерального консульства КНР в г. Хабаровске)
							h6 В стоимость визы включено:
							ul.list-positive
								li Отправка документов в Хабаровск и обратно в Благовещенск
								li Услуги курьера - занос документов в консульство
								li Все сборы (включая консульский)
							h6 В стоимость визы не включено:
							ul.list-negative
								li Международный страховой полис (необходим для туристических виз категории L, покрытие страхования на все дни планируемой поездки, ориентировочная стоимость полиса 1$ на сутки пребывания за человека). Полис вы можете приобрести у нас в офисе при сдаче документов на визу.
						.col-md-3.col-xl-2
							+price-tag('4800', true)
			section
				.container
					.row
						.col-md-4.col-lg-3
							p
								b L-30 + L-30 туристическая двукратная, коридор действия визы 6 мес., до 30 дней пребывания каждый визит
						.col-md-5.col-lg-6.col-xl-7
							p Фото 3,3 x 4,8 см. (
								a(href='#') требования к фото
								| ), загранпаспорт, копия паспорта РФ, копия страницы с пропиской, копия страницы с отметками о ранее выданном заграничном паспорте, для несовершеннолетних свидетельство о рождении,
								|
								a(href='404.html') опросный лист
								| .
							.notice
								p ВАЖНО! Для оформления двукратной туристической визы необходимо  предоставить полис страхования, покрывающий весь период поездки (Письмо Генерального консульства КНР в г. Хабаровске)
						.col-md-3.col-xl-2
							+price-tag('8200')
			section
				.container
					.row
						.col-md-4.col-lg-3
							p
								b M-30 годовая многократная до 30 дней пребывания
						.col-md-5.col-lg-6.col-xl-7
							p Фото 3,3 x 4,8 см. (
								a(href='#') требования к фото
								| ), загранпаспорт, копия паспорта РФ, копия страницы с пропиской, копия страницы с отметками о ранее выданном заграничном паспорте, для несовершеннолетних свидетельство о рождении,
								|
								|
								a(href='404.html') справка с места работы
								| ,
								|
								a(href='404.html') опросный лист
								| .
							p При предоставлении справки с работы у ИП - копия свидетельства о регистрации данного ИП + копия о постановке ИП на налоговый учет
						.col-md-3.col-xl-2
							+price-tag('13&thinsp;500')
			section
				.container
					.row
						.col-md-4.col-lg-3
							.row
								.col-12.order-2.order-md-1
									p
										b Студенческая X1 или Х2
								.col-12.order-1.order-md-2
									img(src='assets/img/visas/content/x1.jpg')
						.col-md-5.col-lg-6.col-xl-7
							p Фото 3,3 x 4,8 см. (
								a(href='404.html') требования к фото
								| ), загранпаспорт, копия паспорта РФ, копия страницы с отметками о ранее выданном заграничном паспорте, приглашение, подтверждение о зачислении в ВУЗ (JW-201 или JW-202), мед. справка по форме 086У + справка на СПИД, для несовершеннолетних свидетельство о рождении,
								|
								a(href='404.html') опросный лист
								| .
							p
								b Х1 - Выдается приезжающим в Китай учиться, срок обучения превышает 180 дней.
							.notice
								p Обязательно! Предоставление мед. справки по форме 086У, а также справки на СПИД.
							p
								b Х2 - Выдается приезжающим в Китай учиться, срок обучения не превышает 180 дней.
							.notice
								p Данная категория визы не требует прохождения медицинского осмотра и предоставления справки на СПИД.
						.col-md-3.col-xl-2
							+price-tag('4600')
			section
				.container
					.row
						.col-md-4.col-lg-3
							p
								b M-30 годовая многократная до 30 дней пребывания
						.col-md-5.col-lg-6.col-xl-7
							p Фото 3,3 x 4,8 см. (
								a(href='404.html') требования к фото
								| ), загранпаспорт, копия паспорта РФ, копия страницы с пропиской, копия страницы с отметками о ранее выданном заграничном паспорте, приглашение от работодателя, разрешение на работу из Министерства труда КНР, мед. справка + справка на СПИД,
								|
								a(href='404.html') опросный лист
								| .
						.col-md-3.col-xl-2
							+price-tag('13&thinsp;500')
			section
				.container
					.row
						.col-md-4.col-lg-3
							p
								b Водительская виза (годовая до 10 дней пребывания)
						.col-md-5.col-lg-6.col-xl-7
							p Фото 3,3 x 4,8 см. (
								a(href='404.html') требования к фото
								| ), загранпаспорт, копия паспорта РФ,  копия страницы с пропиской, копия страницы с отметками о ранее выданном заграничном паспорте, копия водительских прав, оригинал АСМАП (Ассоциация международных автомобильных перевозчиков),
								|
								|
								a(href='404.html') справка с места работы
								| ,
								|
								|
								a(href='404.html') опросный лист
								| .
							h6 Документы, необходимые для оформления визы в Китай:
							ul.list-positive
								li Заграничный паспорт, действительный не менее 6 месяцев;
								li Копия паспорта РФ (первая страница с фото, страница с действующей пропиской, страница с отметками о ранее выданных паспортах);
								li Копия свидетельства о рождении (для детей до 18 лет, путешествующих в сопровождении родителей);
								li Нотариально заверенное согласие на имя руководителя группы или на въезд без сопровождения (для детей до 18 лет, путешествующих без сопровождения родителей);
								li Копия визы родителей или одного из родителей (если планируется поездка ребенка вместе с родителями, а документы на визу подаются отдельно);
								li Для транзитной визы копии электронных авиабилетов, включая передвижение по территории КНР;
								li
									b
										span.text-warning ВАЖНО!!!
									|
									|
									| Для граждан старше 65 лет обязательно оформление страхового полиса на весь период проживания.
								li Если заграничный паспорт выдан позже 2014 году, при себе иметь оригинал старого заграничного паспорта, в случае отсутствия старого заграничного паспорта - справку с места работы.
							h6 Требования к фотографии:
							p
								b
									span.text-warning ВАЖНО!!!
								|
								|
								| Одно цветное фото. 33 миллиметра в ширину на 48 миллиметров в высоту (3.3см на 4.8см) (Цветное фото на матовой или глянцевой бумаге, без углов и овалов, или иных перекрывающих элементов, хорошего качества, без размытия, без эффекта красных глаз, размер головы от уха до уха - от 15 до 22 миллиметров, от макушки до подбородка - от 28 до 33 миллиметров, уши не должны быть закрыты длинным волосом. (
								|
								a(href='404.html') Подробнее
								|
								| ).
							h6 Сроки оформления визы в Китай:
							ul.list-positive
								li Срок оформления визы: 10 - 12 дней. **Сроки рассмотрения могут увеличены при возниконовении дополнительных вопросов консульства КНР
								li При оформлении визы за 3 консульских дня – доплата к тарифу
									|
									|
									b 2000 руб.
						.col-md-3.col-xl-2
							p &mdash;

			section.bg-highlight
				.container
					.row
						.col-md-5.offset-md-4.col-lg-6.offset-lg-3.col-xl-7
							h6.text-primary Важно!
							ul.list-positive
								li Если у гражданина РФ фамилия восточного происхождения (с окончанием на …оглы, …тян и т.д.), (место рождения Казахская ССР, Узбекская ССР, Молдова, или другие бывшие союзные республики) принимаются только при наличии копии свидетельства о рождении и рассматриваются консулом в индивидуальном порядке;
								li Для граждан РФ, у которых заграничный паспорт был получен не на Дальнем Востоке, сроки оформления виз дольше обычных;
								li Для граждан РФ, у которых прописка не на Дальнем Востоке доплата к тарифу 1500 рублей
			section
				.container
					.row
						.col-md-5.offset-md-4.col-lg-6.offset-lg-3.col-xl-7
							h6 Примечания
							ul.list-positive
								li Генеральное консульство КНР в Хабаровске работает по понедельникам, средам и пятницам. Необходимо учитывать это при планировании поездок. Срок оформления считается со дня подачи документов в КОНСУЛЬСТВО, а не в офис;
								li Генеральное консульство КНР в Хабаровске принимает паспорта только жителей Дальневосточного региона (кроме приморского края) либо необходимо дополнительно предоставить паспорт гражданина РФ с пропиской в Хабаровском крае;
								li Генеральное консульство КНР в Хабаровске не оформляет визы гражданам РФ, при условии выдачи загранпаспорта в Приморском крае. По вопросам оформления этих паспортов обращаться в визовый отдел во Владивостоке.
							

			.container
				.row
					.col-md-5.offset-md-4.col-lg-6.offset-lg-3.col-xl-7
						a.btn(href='visa-info-china.html') Отправить заявку

			section.info-block
				.container
					.row
						.col-12
							h6 Посольства Китайской Народной Республики в России
					.row
						.col-md-6.col-xl-4
							.address-card
								.card-title Москва
								.card-body
									.mark.location-mark г. Москва, ул. Дружбы, 6
									.mark.phone-mark
										b.phone (499) 951-84-43,
										|
										| консульский отдел -
										|
										b.phone (499) 951-84-35
									a.mark.link-mark(href='http://ru.china-embassy.org' target='_blank') ru.china-embassy.org
						.col-md-6.col-xl-4
							.address-card
								.card-title Санкт-Петербург
								.card-body
									.mark.location-mark г. Санкт-Петербург, наб. канала Грибоедова, 134
									.mark.phone-mark
										b.phone (812) 714-76-70
									a.mark.link-mark(href='http://saint-petersburg.china-consulate.org' target='_blank') saint-petersburg.china-consulate.org
						.col-md-6.col-xl-4
							.address-card
								.card-title Владивосток
								.card-body
									.mark.location-mark г. Владивосток, ул. Крыгина, 3
									.mark.phone-mark
										b.phone (4232) 49-50-37
						.col-md-6.col-xl-4
							.address-card
								.card-title Хабаровск
								.card-body
									.mark.location-mark г. Хабаровск, Стадион им. Ленина, южное здание
									.mark.phone-mark
										b.phone (4212) 30-24-32
									a.mark.link-mark(href='http://www.chinaconsulate.khb.ru' target='_blank') www.chinaconsulate.khb.ru
						.col-md-6.col-xl-4
							.address-card
								.card-title Иркутск
								.card-body
									.mark.location-mark г. Иркутск, ул. Карла Маркса, 40
									.mark.phone-mark
										b.phone (3952) 78-14-42
									a.mark.link-mark(href='http://irkutsk.chineseconsulate.org' target='_blank') irkutsk.chineseconsulate.org
						
					








